<div class = "container">
<h1>Home</h1>
<img src="img/index.jpg" alt="Descriptive Alt Text" style="width:50%; height:auto;">
<p>Ini halaman Home</p>
<h4>Berita Terkini</h4>
<% berita.forEach(data => { %>
  <h5><%= data.judul %></h5>
  <p><%= data.isi %></p>
<% }) %>
