<div class="container mt-5">
    <h1 class="text-center">Home</h1>
    <p class="text-center">Ini halaman Home</p>
    <img src="img/index.jpg" alt="Descriptive Alt Text" style="width:90%; height:auto;">
    
    <h4 class="mt-4">Berita Terkini</h4>
    
    <% berita.forEach(data => { %>
      <!-- <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= data.judul %></h5>
          <p class="card-text"><%= data.isi %></p>
          <a href="#" class="btn btn-primary">Read</a>
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= data.judul %></h5>
              <p class="card-text"><%= data.isi %></p>
              <a href="#" class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
</div>
